DATABASE_URL="YOUR_OWN_NEON_DATABASE_STRING"
PORT=4000
JWT_ACCESS_SECRET=vxswyvxtwfdtrqwduhwecnjmcokmceceiwclelclchedb
JWT_REFRESH_SECRET=mnbcvgbewhbckuyexchdbchebdhjwKSMNSGEYEUC
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
COOKIE_SECURE=false
